<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns="https://phpunit.de/xml/8.1"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
    </php>
</phpunit>